@charset "utf-8";

:host {
  display: block;
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 1px 15px 0 hsla(0, 0%, 48.2%, .05);
  --content-width: var(--width, 100%);
}

.root {
  display: flex;
  justify-content: space-between;
  /* align-items: stretch; */
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 16px;
  align-items: baseline;
}
