<script src="./material-select.js" type="module"></script>

<link rel="import" href="../input"     id="material-input" />
<link rel="import" href="../drop"      id="material-drop" />
<link rel="import" href="../drop-root" id="material-drop-root" />
<link rel="import" href="../list"      id="material-list" />
<link rel="import" href="../list-item" id="material-list-item" />

<template id="material-select">
  <link rel="stylesheet" href="../../style/material.css" />
  <link rel="stylesheet" href="./material-select.css" />

  <material-drop-root>
    <material-input></material-input>

    <material-drop>
      <material-list>
        <slot></slot>
      </material-list>
    </material-drop>
  </material-drop-root>

</template>
