@charset "utf-8";

:host {
  display: block;
  width: 100%;
  font-family: var(--font);
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); */
}

div.root > input[type="radio"] {
  display: none;
}

#links {
  border: none;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  font-size: 0;
  font-weight: 100;
  outline: none;
  border-radius: var(--radius);
  background: white;
  margin-bottom: 0.4em;
}

#links > label {
  display: inline-block;
  font-size: 20px;
  vertical-align: bottom;
  padding: 8px 24px;
  cursor: pointer;
}

#links > label.selected {
  background: #f5f5f8;
  border-bottom: 2px solid rgb(221, 97, 39);
  padding-bottom: 6px;
}

::slotted(material-tabs-item) {
  display: none;
}

::slotted(material-tabs-item.selected) {
  display: block;
}
