body {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.girdbody {
  grid-template-columns: 18% 64% 18%;
}

.girddiv {
  display: grid;
  grid-template-rows: [header-top] auto [header-bottom  main-top] 1fr [main-bottom];
  grid-template-areas: "menu   menu"
                       "contant";
}

.girddivmenu {
  grid-column-start: banner-start;
  grid-column-end: banner-end;
}