@charset "utf-8";

:host {
  display: block;
  border-radius: 50%;
  overflow: hidden;

  --size: 48px;

  width: var(--size);
  height: var(--size);
}

:host > img {
  width: 100%;
  height: 100%;
}
