@charset "utf-8";

:host, slot {
  display: block;
  font-family: var(--font);
}

slot {
  cursor: pointer;
}

slot:hover {
  background: rgba(0, 0, 0, 0.08);
}

:host ::slotted(*) {
  display: inline-block;
  text-decoration: none;
  padding: 16px 24px;
  white-space: nowrap;
  font-family: var(--font);
}
