@charset "utf-8";

:host {
  --content-width: var(--width);
  --content-height: var(--height);

  display: block;
  width: var(--content-width);
  position: relative;
}

slot {
  font-size: 0;
  display: block;
  scroll-snap-type: x mandatory;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

slot::-webkit-scrollbar {
  display: none;
}

::slotted(material-slider-item) {
  scroll-snap-align: center;
  display: block;
  width: 100%;
  height: var(--content-height);
  position: relative;
  display: inline-block;
  font-size: 1em;
}

material-button-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#left {
  left: 0.5em;
}

#right {
  right: 0.5em;
}

material-radio-group {
  display: block;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

material-radio {
  transform: scale(0.4);
}
