@charset "utf-8";

:host {
  display: block;
  border: 1px solid #ccc;
  /* margin: 10px auto; */
  /* box-sizing: border-box; */

    /* display: inline-block;
  display: box; */
  /* width: 50%; */
  box-sizing: border-box;
  /* min-height: 100px; */

  padding:20px;
  /* margin-top: 10px; */
  /* flex: 1 0 auto; */
  /* overflow:hidden; */

  /* background: #fefefe;
    border: 0px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 14px;
    padding: 0px 0px 13px 0px;
    transition: opacity .4s ease-in-out;
    width: 100%;
  display: inline-block;
  column-break-inside: avoid;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; */
}

div {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 0 auto;
  justify-content:center;
  align-items:center;
  font-size:3em;
  /* min-height:100px; */
  border:1px solid black;
  background:Gainsboro;
}

/* div.root {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  div.root {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 720px) {
  div.root {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  div.root {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  /* */
/* }
div.root .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
div.root .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
div.root .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  div.root .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
  }
}
div.root .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  div.root .head h2 span {
    font-size: 0.8rem;
  }
}
div.root slot {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}
@media (min-width: 1000px) {
  div.root slot {
    height: 315px;
  }
}

::slotted(p) {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}

::slotted(img) {
  display: block;
  width: 100%;
} */
