@charset "utf-8";

:host {
  display: block;
}

slot {
  display: block;
}

slot[name="description"] {
  padding: 0.4em 1em 1em;
}

::slotted(img) {
  width: 100%;
}

::slotted(material-text) {
  font-size: 14px;
}
