@charset "utf-8";

:host {
  display: inline-block;
}

div.root {
  background-color: #e10050;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: default;
  display: block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 32px;
  outline: none;
  padding: 6px 16px;
  line-height: 20px;
  text-decoration: none;
  white-space: nowrap
}

div.root:hover {
  background-color: #f51c68;
}

button.action {
  display: none;
  height: 32px;
  width: 32px;
  margin: -6px -16px -6px 6px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  background-color: #f70c5e;
  text-align: center;
  outline: none;
  vertical-align: bottom;
  padding: 0 4px;
}

button.action:hover {
  background-color: #cf0049;
}

button.action > material-icon {
  display: block;
}

:host([action]) button.action {
  display: inline-block;
}
