:host {
  --radius: 3px;

  display: block;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: none;
  box-sizing: border-box;
  font-size: 1.1em;
  font-weight: 100;
  outline: none;
  border-radius: var(--radius);
  background: white;
}

div.root {
  display: flex;
  padding: 16px 24px;
}

slot {
  display: block;
}

slot[name="center"], slot[name="right"] {
  margin-left: auto;
}

::slotted(*) {
  font-size: 18px;
  margin: 0 .6em 1px 0;
  text-decoration: none;
  color: var(--color-primary-dark);
  font-family: var(--font);
  display: inline-block;
  vertical-align: top;
}

::slotted(*:last-child) {
  margin-right: 0;
}

::slotted(*:hover) {
  color: black;
  border-bottom: 1px dashed var(--color-primary-light);
  margin-bottom: 0;
}

::slotted(material-button-tooltip-icon), ::slotted(material-button-tooltip-icon:hover) {
  margin-top:    -8px;
  margin-bottom: -8px;
  border-bottom: none;
}
