:host {
  --radius: 3px;

  display: block;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: none;
  box-sizing: border-box;
  font-size: 1.1em;
  font-weight: 100;
  outline: none;
  border-radius: var(--radius);
  background: white;
}

div.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

slot {
  display: block;
  width: 100%;
  text-align: center;
  font-family: var(--font);
}

slot[name="top"] {
  margin-bottom: auto;
  margin-top: 1em;
}

slot[name="bottom"] {
  margin-top: auto;
  margin-bottom: 1em;
}

::slotted(*) {
  font-size: 18px;
  margin: 0 .3em;
  text-decoration: none;
  color: var(--color-primary-dark);
  font-family: var(--font);
  display: block;
}

::slotted(*:hover) {
  color: black;
  /* border-bottom: 1px dashed var(--color-primary-light); */
}
