@charset "utf-8";

:host {
  --radius: 3px;

  display: block;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: none;
  box-sizing: border-box;
  font-size: 1.1em;
  font-weight: 100;
  outline: none;
  border-radius: var(--radius);
  background: white;
}

slot {
  display: block;
  padding: 16px 24px;
  font-family: var(--font);
  /* overflow: hidden; */
}

:host([x]) slot {
  padding: 8px 12px;
}
