<template>
  <!--  -->
  <link rel="stylesheet" href="./material-input-color.css" />

  <material-drop-root outset y="top">
    <div class="root">
      <input required />
      <label><slot></slot></label>
    </div>

    <material-drop>
      <material-tabs>
        <material-tabs-item caption="палитра" class="selected">content 1</material-tabs-item>
        <material-tabs-item caption="схема">
          <material-paper>
            <input type="color" />
          </material-paper>
        </material-tabs-item>
      </material-tabs>
    </material-drop>
  </material-drop-root>
</template>
