@charset "utf-8";

:host {
  display: inline-block;
}

material-drop-root {
  display: block;
}

material-input {
  width: 100%;
}

material-list-item {
  display: block;
  width: 100%;
}
