@charset "utf-8";

:host, slot {
  display: inline-block;
}

material-button {
  width: 100%;
}

label {
  padding: 0;
  margin: 0;
  display: block;
  box-sizing: border-box;
  font-size: 1em;
}

::slotted(material-icon) {
  margin-top:    -0.6em;
  margin-bottom: -0.4em;
}

::slotted(material-icon:not(:only-child):first-child) {
  margin-right: 0.3em;
  margin-left: -0.6em;
}

::slotted(material-icon:not(:only-child):last-child) {
  margin-left: 0.3em;
  margin-right: -0.6em;
}

::slotted(material-icon:only-child) {
  margin-left: -1.2em;
  margin-right: -1.2em;
}

