@charset "utf-8";

:host {
  display: inline-block;
  margin: 0;
  padding: 0;
  --size: 24px;
}

img {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: var(--size);
  height: var(--size);
}

slot {
  display: none;
}
